.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
    padding-bottom: 5px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fa867b;
    height: 18px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__navbar-user {
    display: inline-flex;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    list-style: none;
    z-index: 1;
    border-radius: 2px;
    padding: 0;
    background-color: var(--white-color);
    animation: headerNotifyGrowth ease-in 0.25s;
    transform-origin: calc(100% - 20px) top;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
    position: absolute;
    top: -20px;
    right: 20px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid var(--border-color);
}

.header__navbar-user-item:first-child a {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item:last-child a {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item:hover a {
    color: rgb(42, 195, 139);
    background-color: #fafafa;
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    display: block;
    padding: 8px 16px;
    font-weight: 400;
}


/* Header QR code */

.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 1s;
    z-index: 1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-around;
}

.header__qr-download-img {
    height: 16px;
}

.header_navbar-item--hover:hover .header__qr,
.header_navbar-item--hover:hover .header__notify {
    display: block;
}


/* Header notification */

.header__notify {
    margin-top: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 0px;
    top: -30px;
}

.header__notify::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    width: 90px;
    height: 20px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-list {
    padding-left: 0;
    list-style: none;
}

.header__notify-header {
    margin-left: 12px;
    height: 40px;
}

.header__notify-header h3 {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
    margin: 0;
}

.header__notify-item {
    background-color: rgba(238, 75, 43, 0.08);
    padding: 12px;
}

.header__notify-link {
    text-decoration: none;
    display: flex;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.header__notify-name {
    font-size: 1.4rem;
    color: var(--black-color);
}

.header__notify-description {
    margin-top: 4px;
    font-size: 1.2rem;
    color: #756F6E;
}

.header__notify-footer {
    text-decoration: none;
    height: 32px;
}

.header__notify-footer h3 {
    color: var(--black-color);
    text-align: center;
    line-height: 32px;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}


/* Authen modal */

.auth-form {
    width: 500px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls {
    margin-top: 80px;
}


/* Button */

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.btn+.btn {
    margin-left: 8px;
}


/* Social */

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 0;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.btn--with-icon {
    text-decoration: none;
    font-size: 1.4rem;
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 2px;
    width: 200px;
    margin: 0 8px;
}

.btn--with-icon:first-child {
    color: var(--white-color);
    background-color: rgb(49, 77, 151);
}

.btn--with-icon:last-child {
    color: rgb(130, 133, 141);
    background-color: var(--white-color);
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-text {
    margin-left: 20px;
}


/* Login */

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
}

.auth-form__help-link:first-child {
    color: var(--primary-color);
}

.auth-form__help-link:last-child {
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid #EAEAEA;
}


/* Header width search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    cursor: pointer;
    display: none;
}

#mobile-search-checkbox {
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
    height: 50px;
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 162px;
    fill: var(--white-color);
}

.header__search {
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-selection {
    display: flex;
    align-items: center;
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection::after {
    content: "";
    height: 20px;
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 100%;
    right: 0;
}

.header__search-selection-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 16px;
}

.header__search-option {
    padding: 0;
    margin: 10px 0;
    list-style: none;
    position: absolute;
    right: 0px;
    top: 100%;
    background-color: var(--white-color);
    border-radius: 3px;
    width: 140px;
    box-shadow: 0 1px 2px #615151;
    animation: fadeIn ease 0.3s;
    display: none;
    z-index: 1;
}

.header__search-selection:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    height: 33px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
}

.header__search-option-item span {
    margin-left: 8px;
    font-size: 1.4rem;
    color: var(--black-white);
}

.header__search-option-item i {
    margin-left: 15px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.header__search-btn {
    width: 60px;
    height: 34px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    border-radius: 2px;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}


/* Search history */

.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(189 189 189);
    z-index: 1;
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    margin: 6px 0 0;
    padding: 0;
    list-style: none;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    margin: 0;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    display: block;
    line-height: 38px;
    color: var(--black-white);
    font-size: 1.4rem;
    text-decoration: none;
}

.header__search-input:focus~.header__search-history {
    display: block;
}


/* Header cart */

.header__cart {
    width: 150px;
    position: relative;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icon {
    font-size: 2.5rem;
    color: var(--white-color);
    margin-top: 10px;
    cursor: pointer;
}

.header__cart-quantity {
    position: absolute;
    top: -2px;
    right: -12px;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border: 2px solid #EE4D2D;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 10px);
    right: -12px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.25s;
    display: none;
    cursor: default;
    z-index: 1;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    border-width: 18px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color);
    cursor: pointer;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-no-cart-text {
    display: none;
    font-size: 1.4rem;
    margin-top: 15px;
    color: var(--text-color);
}


/* No cart */

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Has cart */

.header__cart-heading {
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 8px 12px 8px;
    text-align: left;
}

.header__cart-sub-list {
    padding: 0;
    list-style: none;
    max-height: 45vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
    padding: 0;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    border: 1px solid #E8E8E8;
    margin: 12px;
}

.header__cart-item-info {
    margin-right: 12px;
    width: 100%;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-name {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-container {}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.header__cart-item-type {
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-btn {
    float: right;
    margin-right: 12px;
    margin-bottom: 12px;
}

.header__cart-view-btn:hover {
    background-color: #F05D41;
    cursor: pointer;
}

.header__sort-bar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    display: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.header__sort-item {
    text-align: center;
    flex: 1;
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--header-sort-bar-height);
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid var(--border-color);
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}


/* App container */

.app__container {
    background-color: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 12px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 16px 16px 0;
    margin: 0;
    text-transform: uppercase;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    color: #39415d;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 6px 20px;
    display: block;
}

.category-item__link:hover {
    color: var(--primary-color);
}


/* Mobile category */

.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    flex-shrink: 0;
    margin: 0 8px;
    border-radius: 2px;
}

.mobile-category__item:nth-of-type(3n + 1) {
    background-color: #87AFD8;
}

.mobile-category__item:nth-of-type(3n + 2) {
    background-color: #7aded9;
}

.mobile-category__item:nth-of-type(3n) {
    background-color: #62f07a;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    display: block;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    text-align: center;
    width: 170px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}


/* Home sort +  filter*/

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 12px 22px;
}

.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 3px);
    padding: 0;
    list-style: none;
    background-color: var(--white-color);
    border-radius: 2px;
    margin: 0;
    display: none;
    z-index: 1;
}

.select-input__item {
    padding: 12px 15px;
}

.select-input__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.select-input::after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100%;
    left: 0;
}

.select-input:hover .select-input__list {
    display: block;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.4rem;
    color: var(--text-color);
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    display: flex;
    width: 72px;
    height: 36px;
    border-radius: 2px;
    overflow: hidden;
    margin-left: 22px;
}

.home-filter__page-btn {
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    line-height: 36px;
    background-color: var(--white-color);
}

.home-filter__page-btn:first-child {
    border-right: 1px solid var(--border-color);
}

.home-filter__page-icon {
    font-size: 1.4rem;
    color: #555;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}


/* Product item */

.home-product-item {
    position: relative;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 10px 10px 6px;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.home-product-item__price--no-sale {}

.home-product-item__price--no-sale .home-product-item__price-current {
    height: 32px;
    line-height: 32px;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    margin-left: 10px;
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
    color: #F63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    color: #d5d5d5;
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    margin-left: auto;
}

.home-product-item__start--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    margin: 3px 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #595959;
    font-weight: 300;
}

.home-product-item__brand {}

.home-product-item__origin-name {}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
    content: "";
    border-top: 3px solid var(--primary-color);
    border-left: 3px solid transparent;
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}

.home-product-item__favourite i {
    font-size: 0.9rem;
    margin: 0 4px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.93);
    text-align: center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.home-product-item__sale-off::before {
    content: "";
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.93) transparent;
    position: absolute;
    top: 100%;
    left: 0;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
    font-weight: 600;
}

.home-pagination {
    margin-top: 48px;
    margin-bottom: 32px;
    padding-left: 0;
}


/* Footer */

.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    margin: 16px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-item {}

.footer-item__link {
    text-decoration: none;
    color: #9692a6;
    display: block;
    font-size: 1.3rem;
    padding-top: 6px;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.4rem;
    width: 16px;
    margin-right: 8px;
    color: rgb(64, 62, 62);
}

.footer__download {
    display: flex;
}

.footer__download-qr {
    width: 80px;
}

.footer__download-apps {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    justify-content: center;
}

.footer__download-link {
    display: block;
}

.footer__download-app-img {
    height: 20px;
}


/* Footer bottom */

.footer-bottom {
    margin-top: 36px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom__heading-list {
    padding-left: 0;
    padding-top: 32px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-bottom__heading-item {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.footer-bottom-item__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #9692a6;
    display: block;
    font-size: 1.4rem;
    padding: 0 20px;
}

.footer-bottom-item__link:hover {
    color: var(--primary-color);
}

.footer-bottom__heading-item:first-child {
    border-left: none;
}

.footer-bottom__heading-item:last-child {
    border-right: none;
}

.footer-bottom-img {
    width: 100px;
    margin-top: 32px;
}

.footer__info {
    text-align: center;
    color: var(--text-color);
    font-size: 1.1rem;
}

.footer__info-company {
    font-size: 1.2rem;
}

.footer__info-address {
    margin: 0 0 2px;
}

.footer__info-code {
    margin: 0;
}

.footer__info-license {
    padding-bottom: 8px;
}